{{ define "analytics"}}
<div
  id="main-content"
  class="relative ml-48 px-4"
  hx-swap-oob="true"
  hx-trigger="consume"
>
  <div id="topbar" hx-get="/mqtt-connect" hx-trigger="load"></div>
  <div class="grid grid-cols-3 gap-4 pt-4 text-gray-300">
    <div class="col-span-2 row-span-3 rounded-xl bg-gray-800">
      <div id="map" class="min-h-[727px] rounded-xl opacity-90"></div>
    </div>
    <div class="rounded-xl bg-gray-800 flex flex-col">
      <header class="border-b p-4 border-gray-500">
        <h3 class="font-bold text-xl">Swarm</h3>
      </header>
      <div class="grow max-h-[128px] min-h-[128px]">
        <canvas id="" class=""></canvas>
      </div>
    </div>
    <div class="rounded-xl bg-gray-800">
      <header class="border-b p-4 border-gray-500">
        <h3 class="font-bold text-xl">Solar</h3>
      </header>
      <div class="grow max-h-[128px] min-h-[128px]">
        <canvas id="" class=""></canvas>
      </div>
    </div>
    <div class="col-span-1 row-span-1 rounded-xl bg-gray-800 flex flex-col">
      <header class="border-b p-4 border-gray-500">
        <h3 class="font-bold text-xl">Harvested Energy (W)</h3>
      </header>
      <div class="grow max-h-[256px] min-h-[256px]">
        <canvas id="collectedEnergy" class=""></canvas>
      </div>
    </div>
  </div>

  <!--For Leaflet.js-->
  <script>
    if (map != undefined) {
      map.remove();
    }
    var map = L.map("map").setView([1.3649, 103.8229], 12);
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright>OpenStreeMap</a>',
    }).addTo(map);

    htmx.onLoad(function () {
      Chart.getChart("collectedEnergy")?.destroy();
      const ctx = document.getElementById("collectedEnergy");
      const myChart = new Chart(ctx, {
        type: "line",
        data: {
          datasets: [
            {
              fill: false,
              borderColor: "rgb(75, 192, 192)",
              tension: 0.1,
            },
          ],
        },
        options: {
          layout: {
            padding: 20,
          },
          scales: {
            y: {
              border: {
                display: false,
              },
              grid: {
                color: "rgb(107, 114, 128)",
              },
              suggestedMin: 0,
              suggestedMax: 120,
              ticks: {
                maxTicksLimit: 8,
              },
            },
            x: {
              type: "time",
              time: {
                unit: "hour",
                displayFormats: {
                  hour: "h:mm a",
                },
              },
              border: {
                display: false,
              },
              grid: {
                display: false,
              },
              suggestedMin: new Date().setHours(0, 0, 0, 0),
              suggestedMax: new Date().setHours(23, 59, 59, 999),
            },
          },
          plugins: {
            legend: {
              display: false,
            },
          },
          responsive: true,
          maintainAspectRatio: false,
        },
      });
    });
  </script>
</div>
{{ end }}
