{{ define "controls" }}
<div class="col-span-full row-span-2 mx-auto grid grid-cols-2 gap-3">
  <div
    class="col-start-1 row-span-2 grid grid-cols-3 gap-3 rounded-3xl bg-slate-700 p-4 text-white shadow-lg"
  >
    <button
      class="col-start-2 row-start-1 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=forward"
      hx-swap="none"
    >
      ^
    </button>
    <button
      class="col-start-1 row-start-2 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=left"
      hx-swap="none"
    >
      <
    </button>
    <button
      class="col-start-2 row-start-2 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=stop"
      hx-swap="none"
    >
      STOP
    </button>
    <button
      class="col-start-3 row-start-2 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=right"
      hx-swap="none"
    >
      >
    </button>
    <button
      class="col-start-2 row-start-3 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=back"
      hx-swap="none"
    >
      v
    </button>
  </div>
  <div
    class="mp-4 col-start-2 grid grid-cols-3 gap-3 rounded-3xl bg-slate-700 p-4 text-white shadow-lg"
  >
    <button
      class="col-start-1 row-start-1 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=pan_left"
      hx-swap="none"
    >
      Pan Left
    </button>
    <button
      class="col-start-2 row-start-1 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=pan_center"
      hx-swap="none"
    >
      Pan Center
    </button>
    <button
      class="col-start-3 row-start-1 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=pan_right"
      hx-swap="none"
    >
      Pan Right
    </button>
  </div>
  <div
    class="col-start-2 grid grid-cols-3 gap-3 rounded-3xl bg-slate-700 p-4 p-4 text-white shadow-lg"
  >
    <button
      class="col-start-1 row-start-1 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=tilt_left"
      hx-swap="none"
    >
      Tilt Left
    </button>
    <button
      class="col-start-2 row-start-1 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=tilt_center"
      hx-swap="none"
    >
      Tilt Center
    </button>
    <button
      class="col-start-3 row-start-1 rounded-full bg-cyan-900 px-5 py-3 text-center hover:bg-orange-800"
      hx-get="/mqtt?cmd=tilt_right"
      hx-swap="none"
    >
      Tilt Right
    </button>
  </div>
</div>
{{ end }}
