{{define "mqtt-msgs"}}
<div class="flex h-2/3 w-full flex-col rounded-xl bg-gray-800">
  <h1
    class="h-min rounded-t-xl bg-cyan-500 px-4 py-1 text-center text-black font-bold"
  >
    LOGS
  </h1>
  <div class="flex flex-1 flex-row">
    <div class="flex flex-col h-full w-max rounded-xl">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="#"
        class="rounded-md bg-gray-900 px-3 py-2 m-2 text-sm font-medium text-white"
        aria-current="page"
        >$SYS/#</a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 m-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >$CMD/#</a
      >
    </div>
    <div
      class="flex h-full flex-1 flex-col"
      hx-ext="ws"
      ws-connect="/mqtt-logs"
    >
      <!-- SSE messages are picked up here -->
      <div
        class="flex-1 border"
        id="logs"
        hx-trigger="ws:message"
        hx-swap="after"
      >
        <div id="message"></div>
      </div>
      <form id="form" class="flex flex-row" ws-send="">
        <input
          name="mqtt-message"
          placeholder="Send Message"
          class="block flex w-full border-0 px-3 py-1.5 text-gray-900 placeholder:text-gray-400 focus:outline-none"
        />
        <button
          type="send"
          class="w-1/16 flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white"
        >
          SEND
        </button>
      </form>
    </div>
  </div>
</div>
{{end}}
