{{define "topbar"}}
<nav
  id="topbar"
  class="flex h-auto items-center border-b-4 border-cyan-500 bg-gray-800 shadow-lg"
  hx-swap-oob="true"
>
  <div class="mx-5 flex items-center">
    <div class="p-2">
      <img
        class="rounded-full h-12 w-12"
        src="/capybara-icon.jpg"
        alt="Your Company"
      />
    </div>
    <div class="ml-5 flex items-baseline space-x-4">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="#"
        class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
        aria-current="page"
        >Dashboard</a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Settings</a
      >
    </div>
  </div>
  <form
    class="absolute right-0 mx-5 flex flex-row justify-end"
    hx-post="/mqtt-connect"
    hx-swap="outerHTML"
  >
    <div class="rounded-md bg-gray-300 mx-1 px-3 py-2 text-sm font-medium">
      {{ .ClientName }}
    </div>
    <div class="rounded-md bg-gray-300 mx-1 px-3 py-2 text-sm font-medium">
      {{ .BrokerURL }}
    </div>
    {{ if .IsConnected }}
    <div>
      <button
        id="mqtt-connection-btn"
        type="disconnect"
        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white"
        hx-post="/mqtt-disconnect"
      >
        Disconnect
      </button>
    </div>
    {{ else }}
    <div class="">
      <button
        id="mqtt-connection-btn"
        type="connect"
        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white"
      >
        Connect
      </button>
    </div>

    {{ end }}
  </form>
</nav>
{{end}}
